{% extends 'base.html' %}

{% block head %}
  <title>Edit Recipe</title>
{% endblock %}

{% block body %}
  <h2>Create or Edit Recipe: </h2>
  <form action='/recipes/edit/{{ recipe.id }}' method='POST'> 
    <div class="form-group">
        Title: <input class="form-control" type="text" name="title" id="title" value={{ recipe.title }}><br>
        <label for="description">Recipe description</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{ recipe.description }}</textarea>
        Author: <input class="form-control" type="text" name="author" id="author" value={{ recipe.description }}><br>
	    <input class="btn btn-success" type='submit' value='Post'> 
    </div>
  </form>

{% endblock %}